source https://api.nuget.org/v3/index.json
storage: none
framework: auto-detect

github AndrewIOM/biodiversity-graph-db:7c534e513cbf5a14febbb78d9e9fc7a42cb8178a

nuget FSharp.Data
nuget Microsoft.FSharpLu.Json
nuget Tesseract