source https://api.nuget.org/v3/index.json

framework: net5.0

github AndrewIOM/biodiversity-graph-db:4815204c0496ea71b3063b3fa0f89374c8f0b82c

nuget FSharp.Data
nuget Microsoft.FSharpLu.Json
nuget RProvider