source https://api.nuget.org/v3/index.json
storage: none
framework: auto-detect

github AndrewIOM/biodiversity-graph-db:74676525811c228d301bd078a1bc111fcc05652d

nuget FSharp.Data
nuget Microsoft.FSharpLu.Json
nuget Tesseract